<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SVG with Tailwind CSS</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="flex flex-col">
  <div>
<div class="w-full p-4 bg-white sticky">
<div class="flex items-center ml-20 ">
  <b class="text-sm">TAILWIND STARTER KIT</b>
  <div class="flex items-center border border-solid rounded-md ml-72 p-2 w-68">
      <svg version="1.1" id="Uploaded_to_svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="h-8 w-8 text-gray-400">
        <style type="text/css">
          .linesandangles_een { fill: currentColor; }
        </style>
        <path class="linesandangles_een" d="M24.535,6H7.465l-4.717,7.075L16,28.536l13.252-15.461L24.535,6z M13.868,12L16,8.803L18.132,12H13.868z M18.674,14L16,23.36L13.326,14H18.674z M17.868,8h4.263L20,11.197L17.868,8z M12,11.197L9.868,8h4.263L12,11.197z M10.132,12H5.868L8,8.803L10.132,12z M11.245,14l2.536,8.875L6.174,14H11.245z M20.755,14h5.072l-7.608,8.875L20.755,14z M21.868,12L24,8.803L26.132,12H21.868z"/>
      </svg>
    <b class="ml-2 text-sm">PRO VERSION</b>
    <h1 class="text-white bg-red-500 ml-2 rounded-full w-16 text-center text-sm">NEW</h1>
  </div>
  <svg height="128" width="128" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" class=" h-6 w-6 ml-8 text-gray-400">
<style type="text/css">
  .st0{fill:currentColor;}
</style>
<g>
  <path class="st0" d="M256,0C114.613,0,0,114.613,0,256s114.613,256,256,256s256-114.613,256-256S397.387,0,256,0z M375.451,262.298&#10;&#9;&#9;L259.395,384.29c-0.887,0.927-2.113,1.452-3.395,1.452c-1.282,0-2.508-0.524-3.395-1.452L136.54,262.298&#10;&#9;&#9;c-11.226-11.791-10.766-30.436,1.032-41.654c11.79-11.218,30.452-10.75,41.653,1.032l47.306,49.726V153.605&#10;&#9;&#9;c0-16.282,13.186-29.468,29.468-29.468c16.282,0,29.46,13.186,29.46,29.468v117.798l47.314-49.726&#10;&#9;&#9;c11.193-11.782,29.863-12.25,41.645-1.032C386.217,231.862,386.686,250.508,375.451,262.298z"/>
</g>
</svg>
<button class="ml-2 font-bold text-sm">DOWNLOAD</button>
<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="48px" height="48px" class="h-8 w-8 ml-4 text-gray-400">
<style type="text/css">
  .st1{fill:currentColor;}
</style>
<path class="st1" d="M 12.5 4 C 10.032499 4 8 6.0324991 8 8.5 L 8 39.5 C 8 41.967501 10.032499 44 12.5 44 L 35.5 44 C 37.967501 44 40 41.967501 40 39.5 L 40 16.5 A 1.50015 1.50015 0 0 0 39.560547 15.439453 L 39.544922 15.423828 L 28.560547 4.4394531 A 1.50015 1.50015 0 0 0 27.5 4 L 12.5 4 z M 12.5 7 L 26 7 L 26 13.5 C 26 15.967501 28.032499 18 30.5 18 L 37 18 L 37 39.5 C 37 40.346499 36.346499 41 35.5 41 L 12.5 41 C 11.653501 41 11 40.346499 11 39.5 L 11 8.5 C 11 7.6535009 11.653501 7 12.5 7 z M 29 9.1210938 L 34.878906 15 L 30.5 15 C 29.653501 15 29 14.346499 29 13.5 L 29 9.1210938 z M 17.5 22 A 1.50015 1.50015 0 1 0 17.5 25 L 30.5 25 A 1.50015 1.50015 0 1 0 30.5 22 L 17.5 22 z M 17.5 28 A 1.50015 1.50015 0 1 0 17.5 31 L 30.5 31 A 1.50015 1.50015 0 1 0 30.5 28 L 17.5 28 z M 17.5 34 A 1.50015 1.50015 0 1 0 17.5 37 L 26.5 37 A 1.50015 1.50015 0 1 0 26.5 34 L 17.5 34 z"/></svg>
<b class="text-sm">DOCS</b>
<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-6 w-6 ml-8"><title>facebook-square-glyph</title><g id="Facebook"><rect id="back" width="512" height="512" fill="#929292"/><path id="Facebook-2" data-name="Facebook" d="M383.54,112.64H128.46a15.82,15.82,0,0,0-15.82,15.82V383.54a15.82,15.82,0,0,0,15.82,15.82H265.79v-111H228.42V245.05h37.36V213.14c0-37,22.62-57.2,55.66-57.2a307.62,307.62,0,0,1,33.39,1.7v38.7H331.92c-18,0-21.45,8.54-21.45,21.07v27.63h42.85l-5.58,43.27H310.47v111h73.06a15.83,15.83,0,0,0,15.82-15.82V128.46A15.82,15.82,0,0,0,383.54,112.64Z" fill="#fff"/></g></svg>
<div class="h-6 w-6 ml-8">
  <%= image_tag 'img7.png', class: 'h-full w-full object-cover' %>
</div>
<div class="h-6 w-6 ml-8">
  <%= image_tag 'img5.png', class: 'h-full w-full object-cover' %>
</div>

</div>
</div>
</div>
<h1 class="text-lg font-bold">A beautiful extension for TailwindCSS</h1>
</div>
</body>
</html>
